<div class="container mx-auto w-full p-5" id='about'>
    <section class="mb-8">
        <h2 class="text-gray-900 dark:text-white text-xl md:text-2xl font-bold">About Us</h2>
        <p class="text-lg text-gray-800 dark:text-white leading-relaxed">
            At our Angular Meetup Community, we're dedicated to fostering a vibrant environment where Angular
            enthusiasts come together to learn, collaborate, and innovate. Whether you're a seasoned developer or just
            starting out, there's something here for everyone.
        </p>
    </section>

    <section class="mb-8">
        <h2 class="text-gray-900 dark:text-white text-xl md:text-2xl font-bold">What We Offer</h2>
        <p class="text-lg text-gray-800 dark:text-white leading-relaxed">
            Dive into a world of Angular-related content that expands your knowledge and keeps you up-to-date with the
            latest trends and insights. Join engaging sessions led by industry experts covering topics from foundational
            concepts to advanced techniques. Connect with like-minded individuals, share experiences, and collaborate on
            exciting projects. 🚀 💡
        </p>
    </section>

    <section class="mb-8">
        <h2 class="text-gray-900 dark:text-white text-xl md:text-2xl font-bold">Join Us</h2>
        <p class="text-lg text-gray-800 dark:text-white leading-relaxed">
            Join us in exploring the frontiers of Angular development. Mark your calendars for our upcoming events and
            be part of our thriving community. Together, let's elevate our Angular expertise! 💻 🤝
        </p>
    </section>
</div>

