<div class="container mx-auto text-center" data-aos='zoom-in' data-aos-delay='400'>
    <div class="flex justify-center my-4 bg-gradient">
        <div class="flex flex-col items-center mx-4">
            <div class="lg:text-8xl md:text-6xl sm:text-6xl text-5xl font-bold">{{ days }}</div>
            <div class="text-md">Days</div>
        </div>
        <div class="flex flex-col items-center mx-4">
            <div class="lg:text-8xl md:text-6xl sm:text-6xl text-5xl font-bold">{{ hours }}</div>
            <div class="text-md">Hours</div>
        </div>
        <div class="flex flex-col items-center mx-4">
            <div class="lg:text-8xl md:text-6xl sm:text-6xl text-5xl font-bold">{{ minutes }}</div>
            <div class="text-md">Minutes</div>
        </div>
        <div class="flex flex-col items-center mx-4">
            <div class="lg:text-8xl md:text-6xl sm:text-6xl text-5xl font-bold">{{ seconds }}</div>
            <div class="text-md">Seconds</div>
        </div>
    </div>
</div>
