<!--Add for future evenets-->


<div class="bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-white p-5" data-aos='zoom-in'>
    <div class="container mx-auto text-center">
        <h2 class="text-2xl md:text-3xl font-bold mb-4">Angular Mastery Bootcamp</h2>

        <section data-aos="zoom-in" data-aos-delay="50" data-aos-duration="800"
            class="p-4 text-center relative flex flex-col justify-between items-center dark:text-white">

            <div class="w-12 h-12 rounded-full self-end m-4"
                style="background-image: linear-gradient(to right, #ef4444, #fb923c, #f6e05e);">
            </div>

            <div>
                <hr>
                <p class="md:text-lg text-lg text-gray-600 dark:text-gray-300 px-4 mt-2">The Angular Mastery Bootcamp at
                    Base 42 from May 17-19 was a resounding success! 🎉 Participants delved into Angular fundamentals,
                    advanced techniques, and best practices through hands-on sessions. Both beginners and experienced
                    developers enhanced their skills and built robust, scalable applications. 💻🚀</p>
                <p class="md:text-lg text-lg text-gray-600 dark:text-gray-300 px-4 mt-2">A heartfelt thanks to everyone
                    who attended and made this event a success. 🙏 Your enthusiasm and engagement were key to its
                    dynamic and productive atmosphere. Thank you for joining us on this journey to Angular mastery! 🌟
                </p>

                <hr>
            </div>

            <div class="w-20 h-20 rounded-full self-start m-4"
                style="background-image: linear-gradient(to left, #ef4444, #fb923c, #f6e05e);">
            </div>
        </section>

    </div>
</div>

<div class="container mx-auto w-full p-5">
    <h2 class="text-gray-900 text-center dark:text-white text-2xl md:text-3xl font-bold">Past Events</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        @for(event of visibleEvents; track event) {
        <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden" data-aos="zoom-in"
            data-aos-delay="50" data-aos-duration="1000">

            <div class="p-4 ">
                <h2 class="text-lg font-bold dark:text-white">
                    <a href="{{ event.link }}" target="_blank"
                        class="hover:text-red-700 dark:hover:text-amber-500 underline">{{ event.title }}</a>
                </h2>
                <p class="text-sm text-gray-600 dark:text-gray-300">{{ event.date }}</p>
                <p class="text-sm text-gray-600 dark:text-gray-300">{{ event.description }}</p>
            </div>
        </div>
        }
    </div>

    <div class="mt-4 text-center">
        @if (showLimit < pastEvents.length) { <button (click)="showAllPastEvents()"
            class="px-4 py-2 bg-red-700 dark:bg-amber-500 text-white rounded">Show More</button>
            }
    </div>
</div>