.bg-angular-gradient {
    --angular-gradient: linear-gradient(to right, #ef4444, #fb923c, #f6e05e);
    -webkit-background-clip: text;
    color: transparent;
    background-image: var(--angular-gradient);
}

.logo-animate {
  transition: transform 3s ease;
}

.logo-hidden {
  transform: scale(0);
}

.logo-visible {
  transform: scale(1);
}
