<article class="w-full flex justify-center bg-gray-50 dark:bg-gray-800 lg:mb-28 mb-16 pt-12">

    <section class="container py-5">
        <div class="flex items-center flex-col md:flex-row lg:justify-center md:justify-around">

            <section class="lg:relative lg:transform lg:translate-x-[-4%] lg:translate-y-[8%] lg:scale-150">
                <img src="/logo-mk.png" height="auto" width="auto" alt="logo" class="w-full h-1/2 max-w-96">
            </section>

            <section class="w-full my-6 md:w-1/2 text-center md:text-left px-6 lg:ml-6">
                <h2 class="text-gray-900 dark:text-white text-2xl md:text-4xl font-bold lg:pl-10">Unite. Learn. Innovate.</h2>
                <h2 class="text-gray-900 dark:text-white text-2xl md:text-4xl font-bold lg:pl-10">Welcome to our <span
                        class="bg-angular-gradient">Angular</span> Meetup Community!</h2>
            </section>

        </div>
    </section>

</article>
