<article class="w-full flex justify-center bg-gray-50 dark:bg-gray-800 lg:mb-28 mb-16 pt-12 mt-12">

    <section class="container py-5">
        <div class="flex items-center flex-col md:flex-row lg:justify-center md:justify-around">

            <section class="lg:relative lg:transform lg:translate-x-[-4%] lg:translate-y-[8%] lg:scale-150 relative">
                <img [ngSrc]="'/logo-mk.webp'"  height="350" width="350" [priority]="false" alt="logo" class="h-46 max-w-96 logo-animate relative"
                [ngClass]='{"logo-visible": visible, "logo-hidden": !visible}'>
            </section>

            <section class="w-full my-6 md:w-1/2 text-center md:text-left px-6 lg:ml-6">
                <h2
                  #typewrite1
                  class="text-gray-900 dark:text-white text-2xl md:text-4xl font-bold lg:pl-10">
                </h2>
            </section>

        </div>
    </section>
</article>
